<nav class="bg-zinc-950 h-[10vh] text-white  text-2xl flex justify-center items-center">
    <a href="/" class="mr-10">Home</a>
    <a href="/library" class="mr-10">Library</a>
    <a href="/about" class="mr-10">About</a>
</nav>
