    <%-include("partials/header")%>
    <%-include("partials/nav")%>
<div id="about" class="bg-zinc-950 min-h-[90vh] text-white">
    <h1 class="text-5xl text-center mt-16">Sourabh's book store </h1>
</div>
    <%-include("partials/footer")%>