<%-include("partials/header")%>
<%-include("partials/nav")%>

<main class="flex  justify-center bg-zinc-950 min-h-[90vh] ">
    <div class="text-center mt-[14vh] bg-zinc-900 w-1/2 h-[40vh] rounded">
        <h1 class="text-4xl mt-10 text-white ">Welcome to book store </h1>
        <p class="mt-5 text-white">Lorem ipsum dolor sit amet consectetur adipisicing <br> Exercitationem fuga eaque quos
            praesentium a voluptatem
            sint beatae delectus sequi dolore <br> itaque aut libero corrupti iusto, voluptatum architecto ab dolores
            perferendis.</p>
         <button class="px-3 py-2 mt-10 rounded bg-white hover:bg-zinc-200 text-black"><a href="">Explore
                 More</a></button>
    </div>
</main>
<%-include("partials/footer")%>
